.label {
  font-size: 1.2em;
  display: inline-block;
}

.quickSelectors {
  list-style: none;
  margin-block-start: 0;
  margin-block-end: 0;
  padding-inline-start: 0;
  border-right: 1px solid #ddd;

  .quickSelector {
    padding: 5px;
    cursor: pointer;

    &:hover {
      background-color: #d1deff;
    }

    &.selected {
      background-color: #d1deff;
      color: #003a71;

      &:hover {
        background-color: #b8c4e1;
      }
    }
  }
}

.tempTimeInput {
  width: 5em;
}

.timeInput {

  .hourInput, .minuteInput {
    border: none;
    text-align: center;
    width: 5em;
    margin: 0 auto;

    &:focus {
      outline: none;
    }
  }

  .hours, .minutes {
    display: inline-block;
    list-style: none;
    margin-block-start: 0;
    margin-block-end: 0;
    padding-inline-start: 0;
    vertical-align: top;

    .hour, .minute {
      width: 2em;
      height: 2em;
      text-align: center;
      padding-top: .25em;

      &:hover, &.selected {
        background-color: #3b99fc;
        border-radius: 50%;
        color: #fff;
      }
    }
  }

  .hours {
    width: 2.5em;
  }

  .minutes {
    padding-left: 5px;
    border-left: 1px solid #eee;

    &.precision-1, &.precision-2, &.precision-3, &.precision-4 {
      width: 11em;

      .minute {
        display: inline-block;

        &:nth-child(5n + 1) {
          font-weight: 600;
        }
      }
    }
  }
}

.editMode {
  display: inline-block;
}
