<div class="uk-section">
	<div class="uk-container">
		<h2 class="uk-h1 uk-text-center">Screenshots</h2>

		<div class="uk-child-width-1-3@m uk-grid-match uk-text-center uk-margin-medium-top uk-grid">
			<div class="uk-first-column">
				{% include image-col.html img="screenshots/2022-Skillmatrix.png" lightbox="true" alt="Share yourexpertise" caption="Share your expertise. Let your colleagues know, what your passion andinterests are for the upcoming projects." %}
			</div>
			<div>
				{% include image-col.html img="admin-plugins.png" lightbox="true" alt="Your calendar iscustomizable" caption="Your calendar is customizable. You may display your or other's timesheets as well as events and off-times of your colleagues. You may subscribe externalcalendars for displaying. Configure different views for faster switching between workcontexts." %}
			</div>
		
			<div>
				{% include image-col.html img="/screenshots/2022-StructureTree.png" lightbox="true" alt="Organize your company" caption="Organize your company e. g. by customers and projects" %}
			</div>
		</div>
	</div>
</div>
