<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/base.xml"/>

    <appender name="MEMORY" class="org.projectforge.common.logging.LoggerMemoryAppender" />

    <root level="error">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="MEMORY"/>
    </root>

    <!-- Log Persistence calls -->
    <!--logger name="org.projectforge.framework.persistence.jpa.PfPersistenceContext" level="debug"/-->

    <!-- Log Hibernate SQL Statements, Log SQL Bind Parameters, Optional: Log DDL operations -->
    <!--logger name="org.hibernate.SQL" level="DEBUG" />
    <logger name="org.hibernate.transaction" level="DEBUG" />
    <logger name="org.hibernate.orm.jdbc.bind" level="TRACE"/>
    <logger name="org.hibernate.orm.tool.schema.internal" level="DEBUG"/>
    <logger name="logging.level.org.hibernate.type.descriptor.sql" level="TRACE"/-->

    <!-- custom logging levels -->
    <logger name="org.projectforge" level="error"/>
    <logger name="org.projectforge.business.gantt.GanttUtils" level="off"/>
    <logger name="org.projectforge.business.task.TaskNode" level="off"/>
    <logger name="org.projectforge.framework.access.AccessCheckerImpl" level="off"/>
    <logger name="org.projectforge.framework.configuration.ConfigurationDao" level="off"/>
    <logger name="org.projectforge.framework.utils.Crypt" level="off"/>
    <logger name="org.projectforge.framework.persistence.api" level="off"/>
    <logger name="org.projectforge.mail.SendMail" level="off"/>
    <logger name="org.projectforge.messaging.SmsSender" level="off"/>
    <logger name="org.projectforge.rest.pub.AuthenticationPublicServicesRest" level="off"/>
    <logger name="org.springframework" level="error"/>
</configuration>
