{
  "extends": "airbnb",
  "env": {
    "browser": true
  },
  "plugins": [
    "react"
  ],
  "rules": {
    "indent": [
      "error",
      4,
      {
        "SwitchCase": 1
      }
    ],
    "react/jsx-indent": [
      "error",
      4
    ],
    "react/jsx-indent-props": [
      "error",
      4
    ]
  }
}
