<h1><%= pf.getI18nString("label.historyOfChanges") %></h1>
<table class="history">
  <tr>
    <th><%= pf.getI18nString("timestamp") %></th>
    <th><%= pf.getI18nString("user") %></th>
    <th><%= pf.getI18nString("history.entryType") %></th>
    <th><%= pf.getI18nString("history.propertyName") %></th>
    <th><%= pf.getI18nString("history.newValue") %></th>
    <th><%= pf.getI18nString("history.oldValue") %></th>
  </tr>
  <%
    int row = 0; 
    for (entry in history) {
      String style = (row++ % 2 == 0) ? "even" : "odd"; %>
    <tr class="${style}">
      <td><%= pf.getString(entry.timestamp) %></td>
      <td><%= pf.getString(entry.user.fullname) %></td>
      <td><%= pf.getString(entry.entryType) %></td>
      <td><%= pf.getString(entry.propertyName) %></td>
      <td><%= pf.getString(entry.newValue) %></td>
      <td><%= pf.getString(entry.oldValue) %></td>
    </tr>
    <% } %>
</table>
