<html>
#INCLUDE{mail/mailHead.html}
<body>
<div id="mail">
  <div class="container">
    <div class="content">
      #INCLUDE{mail/mailOpening.html}
      <p><%= pf.getMessage("fibu.auftrag.mail.intro", "<b>${pf.getString(auftrag.nummer)}</b>") %></p>
      <table class="width-3">
        <tr>
          <td colspan="3">
            <span class="title"><%= pf.getI18nString("fibu.auftrag.titel") %></span>
            <span class="value"><%= pf.getString(auftrag.titel) %></span>
          </td>
        </tr>
        <tr>
          <td colspan="3">
            <span class="title"><%= pf.getI18nString("fibu.projekt") %></span>
            <span class="value"><%= pf.getString(auftrag.projekt) %></span>
          </td>
        </tr>
        <tr>
          <td colspan="3">
            <span class="title"><%= pf.getI18nString("fibu.kunde") %></span>
            <span class="value"><%= pf.getString(auftrag.kunde) %></span>
          </td>
        </tr>
        <tr>
          <td>
            <span class="title"><%= pf.getI18nString("fibu.auftrag.nettoSumme") %></span>
            <span class="value no-wrap"><%= pf.getCurrency(auftrag.nettoSumme) %></span>
          </td>
          <% if (auftrag.referenz != null) { %>
          <td>
            <span class="title"><%= pf.getI18nString("fibu.common.reference") %></span>
            <span class="value"><%= pf.getString(auftrag.referenz) %></span>
          </td>
          <% } %>
          <td>
            <span class="title"><%= pf.getI18nString("status") %></span>
            <span class="value"><%= pf.getString(auftrag.status) %></span>
          </td>
        </tr>
        <tr>
          <td>
            <span class="title"><%= pf.getI18nString("fibu.auftrag.datum") %></span>
            <span class="value"><%= pf.getString(auftrag.angebotsDatum) %></span>
          </td>
          <td>
            <span class="title"><%= pf.getI18nString("fibu.auftrag.bindungsFrist") %></span>
            <span class="value"><%= pf.getString(auftrag.bindungsFrist) %></span>
          </td>
          <td>
            <span class="title"><%= pf.getI18nString("fibu.auftrag.beauftragungsdatum") %></span>
            <span class="value"><%= pf.getString(auftrag.beauftragungsDatum) %></span>
          </td>
        </tr>
        <tr>
          <td colspan="3">
            <span class="title"><%= pf.getI18nString("contactPerson") %></span>
            <span class="value"><%= pf.getString(contactPerson.fullname) %></span>
          </td>
        </tr>
        <% if (auftrag.bemerkung != null) { %>
        <tr>
          <td colspan="3">
            <span class="title"><%= pf.getI18nString("comment") %></span>
            <span class="value"><%= pf.getString(auftrag.bemerkung) %></span>
          </td>
        </tr>
        <% } %>
        <% if (auftrag.statusBeschreibung != null) { %>
        <tr>
          <td colspan="3">
            <span class="title"><%= pf.getI18nString("fibu.auftrag.statusBeschreibung") %></span>
            <span class="value"><%= pf.getString(auftrag.statusBeschreibung) %></span>
          </td>
        </tr>
        <% } %>
        <% for (position in auftrag.positionen) { %>
        <tr>
          <th>Position #<%= pf.getString(position.number) %></th>
        </tr>
        <tr>
          <td colspan="3">
            <span class="title"><%= pf.getI18nString("title") %></span>
            <span class="value"><%= pf.getString(position.titel) %></span>
          </td>
        </tr>
        <tr>
          <td>
            <span class="title"><%= pf.getI18nString("status") %></span>
            <span class="value"><%= pf.getString(position.status) %></span>
          </td>
          <td>
            <span class="title"><%= pf.getI18nString("fibu.auftrag.nettoSumme") %></span>
            <span class="value no-wrap"><%= pf.getCurrency(position.nettoSumme) %></span>
          </td>
          <% if (position.art != null) { %>
          <td>
            <span class="title"><%= pf.getI18nString("fibu.auftrag.position.art") %></span>
            <span class="value"><%= pf.getString(position.art) %></span>
          </td>
          <% } %>
        </tr>
        <% if (position.bemerkung != null) { %>
        <tr>
          <td colspan="3">
            <span class="title"><%= pf.getI18nString("comment") %></span>
            <span class="value"><%= pf.getString(position.bemerkung) %></span>
          </td>
        </tr>
        <% } %>
        <% } %>
      </table>
      <a
              href="${requestUrl}"
              class="button"
              target="_blank"
              rel="noreferrer"
      >
        <%= pf.getI18nString("fibu.auftrag.title.edit") %>
      </a>

      #INCLUDE{mail/mailHistoryTable.html}

      #INCLUDE{mail/mailClosing.html}
      #INCLUDE{mail/mailFooter.html}

    </div>
  </div>
</div>
</body>
</html>
