<html>
#INCLUDE{mail/mailHead.html}
<body>
<div id="mail">
  <div class="container">
    <div class="content">
      #INCLUDE{mail/mailOpening.html}
      <p>
        <%= pf.getI18nString("password.reset.mail.message.1") %>
        <br/>
        <%= pf.getI18nString("password.reset.mail.message.2") %>
      </p>
      <p>
        <%= pf.getMessage("password.reset.mail.link", link) %>
      </p>
      #INCLUDE{mail/mailClosing.html}
      #INCLUDE{mail/mailFooter.html}
    </div>
  </div>
</div>
</body>
</html>
