<html>
#INCLUDE{mail/mailHead.html}
<body>
<div id="mail">
  <div class="container">
    <div class="content">
      #INCLUDE{mail/mailOpening.html}
      <p>
        <%= pf.getI18nString("password.reset.mail.message.1") %>
        <br/>
        <%= pf.getI18nString("password.reset.mail.message.2") %>
      </p>
      <a href="<%= pf.getString(link) %>" class="button" target="_blank" rel="noreferrer">
        <%= pf.getI18nString("password.reset.title") %>
      </a>
      <p class="muted small">
        <%= pf.getMessage("password.reset.mail.link", "<a href='${pf.getString(link)}'>${pf.getString(link)}</a>") %>
      </p>
      #INCLUDE{mail/mailClosing.html}
      #INCLUDE{mail/mailFooter.html}
    </div>
  </div>
</div>
</body>
</html>
