<html>
#INCLUDE{mail/mailHead.html}
<body>
#INCLUDE{mail/mailOpening.html}
<br />
<%= pf.getString(mailInfo.action) %>:
<br />
<%= pf.getString(mailInfo.reason) %>:
<br />
<%= pf.getI18nString("vacation.mail.link") %>:<a href="${vacationInfo.link}">${vacationInfo.link}</a>
<br />
<table class="form">
  <tr>
    <th><%= pf.getI18nString("vacation.vacationer") %></th>
    <td><%= pf.getString(vacationInfo.employeeFullname) %></td>
    <th><%= pf.getI18nString("vacation.workingdays") %></th>
    <td><%= pf.getString(vacationInfo.workingDaysFormatted) %></td>
  </tr>
  <tr>
    <th><%= pf.getI18nString("vacation.startdate") %></th>
    <td><%= pf.getString(vacationInfo.startDate) %></td>
    <th><%= pf.getI18nString("vacation.halfDayBegin") %></th>
    <td><%= pf.getString(vacationInfo.halfDayBeginFormatted) %></td>
  </tr>
  <tr>
    <th><%= pf.getI18nString("vacation.enddate") %></th>
    <td><%= pf.getString(vacationInfo.endDate) %></td>
    <th><%= pf.getI18nString("vacation.halfDayEnd") %></th>
    <td><%= pf.getString(vacationInfo.halfDayEndFormatted) %></td>
  </tr>
  <tr>
    <th><%= pf.getI18nString("vacation.replacement") %></th>
    <td><%= pf.getString(vacationInfo.replacementFullname) %></td>
    <th><%= pf.getI18nString("vacation.special") %></th>
    <td><%= pf.getString(vacationInfo.vacationSpecialFormatted) %></td>
  </tr>
  <tr>
    <th><%= pf.getI18nString("vacation.manager") %></th>
    <td><%= pf.getString(vacationInfo.managerFullname) %></td>
    <th><%= pf.getI18nString("vacation.status") %></th>
    <td><%= pf.getString(vacation.status) %></td>
  </tr>
  <tr>
    <th><%= pf.getI18nString("comment") %></th>
    <td colspan="3"><%= pf.getString(vacation.comment) %></td>
  </tr>
</table>

#INCLUDE{mail/mailClosing.html}
#INCLUDE{mail/mailFooter.html}
</body>
</html>
