.popper {
  z-index: 9999;
  background-color: #fff;
  border: 1px solid #dfdfdf;
  border-radius: .25em;
  padding: 10px;
}

.advancedPopperContainer {
  $transitionTime: .3s;

  position: relative;
  transition: width, border;
  transition-duration: $transitionTime;

  &.isOpen .content {
    border: 1px solid #eee;
    border-top: 1px solid transparent;

    .additional {
      opacity: 1;
      max-height: 300px;
      transition: opacity $transitionTime;
    }
  }
  .content {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99;
    border: 1px solid transparent;

    .additional {
      background-color: #fff;
      opacity: 0;
      overflow: scroll;

      // Set height to 0 after the transition is done.
      max-height: 0;
      transition: opacity $transitionTime, max-height .01s linear $transitionTime;

      position: relative;
    }
  }
}
