.popper {
  z-index: 9999;
  background-color: #fff;
  border: 1px solid #dfdfdf;
  border-radius: .25em;
  padding: 10px;
}

.advancedPopperContainer {
  $transitionTime: .3s;

  position: relative;
  transition: width, border;
  transition-duration: $transitionTime;
  $baseShadow: 0 2px 3px rgba(0, 0, 0, 0.1);

  &.isOpen .content {
    box-shadow: $baseShadow, 0 3px 12px rgba(0, 0, 0, 0.1);

    .additional {
      opacity: 1;
      max-height: 300px;
      transition: opacity $transitionTime;
    }
  }
  .content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 99;
    border: 1px solid #ebebeb;
    border-radius: 5px;
    box-shadow: $baseShadow;
    transition: box-shadow $transitionTime;

    &:hover {
      box-shadow: $baseShadow, 0 3px 12px rgba(0, 0, 0, 0.1);
    }

    .additional {
      background-color: #fff;
      opacity: 0;
      overflow: scroll;
      border: 1px solid #EBEBEB;
      border-radius: 5px;
      box-shadow: 0 15px 46px -10px rgba(26, 26, 29, 0.3);

      // Set height to 0 after the transition is done.
      max-height: 0;
      transition: opacity $transitionTime, max-height .01s linear $transitionTime;

      position: relative;
    }
  }
}
