.completions {
  top: .8em;

  .entries {
    margin: 0;
    padding: 0;

    .entry {
      position: relative;
      padding: 1rem;
      cursor: default;

      &:hover {
        background-color: #eee;
      }

      .icon {
        right: 1em;
        position: absolute;
      }
    }
  }
}

.selectMeIcon {
  color: #007bff;
  outline: none;
}

.deleteIcon {
  position: absolute;
  right: 1em;
  bottom: 1em;
  cursor: pointer;
}
