<?xml version="1.0" encoding="UTF-8"?>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:wicket="http://wicket.apache.org/dtds.data/wicket-xhtml1.4-strict.dtd">
<head>
<title>Preview of content menu entry panel</title>
</head>
<body>
  <wicket:panel>
    <li wicket:id="li"><a wicket:id="link"><wicket:container wicket:id="label">[Label]</wicket:container><b class="caret" wicket:id="caret"></b></a>
      <ul class="dropdown-menu" wicket:id="dropdownMenu">
        <wicket:container wicket:id="subMenu">[sub menu entries]</wicket:container>
      </ul></li>
  </wicket:panel>
</body>
</html>