<wicket:panel xmlns:wicket="http://wicket.apache.org/dtds.data/wicket-xhtml1.4-strict.dtd">
  <div class="pf_dnd" wicket:id="main">
    <input type="file" id="fileselect" class="pf_fileselect" />
    <div class="pf_filedrag">
      <wicket:message key="drop" />
    </div>
    <form wicket:id="hiddenForm" class="pf_hiddenForm">
      <textarea class="pf_text" wicket:id="importString"></textarea>
      <textarea class="pf_name" wicket:id="importFileName"></textarea>
      <input type="submit" class="pf_submit" wicket:id="submitButton" /> <input type="hidden" wicket:id="csrfToken" />
    </form>
  </div>
</wicket:panel>
