@import '../../../assets/style/mixins';
@import "../../../assets/style/theming";

.checkboxGroup {

}

.radioButtonGroup {

}

.formGroup {
  position: relative;
  font-size: 1.5rem;
  letter-spacing: .02em;
  margin-bottom: 13px;

  .label {
    display: block;
    margin: 0 0 0 0;
    height: 2.8em;
    width: 100%;
    cursor: text;
    position: relative;

    &.withIcon {
      .icon {
        position: absolute;
        bottom: .6em;
        left: 2px;
      }

      .input {
        padding-left: 1.5em;
      }

      .text {
        left: 1.5em;
      }
    }

    .text {
      position: absolute;
      left: 15px;
      @include transition-transform-extra(.3s, translate(2px, 1em) scale(1, 1), color .3s);
      transform-origin: top left;
      color: #7a7a7a;
    }

    .input {
      padding-left: 15px;
      padding-bottom: 0;
      width: 100%;
      position: relative;
      top: 1em;
      background-color: transparent;
      border: none;
      border-bottom: 1px solid #deddde;
      outline: none;

      &:focus {
        border-bottom: 1px solid #007480;
        transition: border-bottom 1s;
      }

      //@include transition(border-bottom .3s);

    }

    &.active {

      .text {
        color: #a5a2a5;
        @include transform(translate(0, 0) scale(.7,.7));
      }
    }

    &.noLabel {
      height: 1.1em;

      .input {
        top: 0;
      }

      .text {
        @include transform(none);
      }

      &.active {
        .text {
          opacity: 0;
        }
      }
    }

    @mixin color($color) {
      .text {
        color: $color;
      }

      .input {
        border-color: $color;
      }
    }

    @include color(map_get($theme-colors, dark));

    &.primary {
      @include color(map_get($theme-colors, primary));
    }

    &.secondary {
      @include color(map_get($theme-colors, secondary));
    }

    &.success {
      @include color(map_get($theme-colors, success));
    }

    &.danger {
      @include color(map_get($theme-colors, danger));
    }

    &.warning {
      @include color(map_get($theme-colors, warning));
    }

    &.info {
      @include color(map_get($theme-colors, info));
    }

  }

  .checkboxLabel {
    position: relative;
    margin-left: 5px;

    .checkbox {
      position: absolute;
      opacity: 0;
      pointer-events: none;

      & + .text {
        &::before {
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          border: 2px solid #333;
          width: 1.2em;
          height: 1.2em;

          @include transition(.3s);
        }

        padding-left: 2em;
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        cursor: pointer;

        @mixin color($color) {
          &::before {
            border-color: $color;
          }

          color: $color;

          &:hover {
            $hoverColor: 0;

            @if lightness($color) > 50% {
              $hoverColor: scale_color($color, $lightness: -30%);
            } @else {
              $hoverColor: scale_color($color, $lightness: 20%);
            }

            &::before {
              border-color: $hoverColor;
            }

            color: $hoverColor;
          }
        }

        @include color(map_get($theme-colors, dark));

        &.primary {
          @include color(map_get($theme-colors, primary));
        }

        &.secondary {
          @include color(map_get($theme-colors, secondary));
        }

        &.success {
          @include color(map_get($theme-colors, success));
        }

        &.danger {
          @include color(map_get($theme-colors, danger));
        }

        &.warning {
          @include color(map_get($theme-colors, warning));
        }

        &.info {
          @include color(map_get($theme-colors, info));
        }
      }

      &:checked + .text {
        &::before {
          @include transform(rotate(40deg));
          top: -3px;
          left: 5px;
          border-top-color: transparent;
          border-left-color: transparent;
          width: .6em;
        }
      }
    }
  }

  .radioButtonLabel {
    position: relative;
    margin-left: 5px;

    .radio {
      position: absolute;
      opacity: 0;
      pointer-events: none;

      & + .text {
        &::before {
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          border: 2px solid #333;
          border-radius: 50%;
          width: 1.2em;
          height: 1.2em;

          @include transition(.3s);
        }

        padding-left: 2em;
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;

        @mixin color($color) {
          &::before {
            border-color: $color;
          }

          color: $color;
        }

        @include color(map_get($theme-colors, dark));

        &.primary {
          @include color(map_get($theme-colors, primary));
        }

        &.secondary {
          @include color(map_get($theme-colors, secondary));
        }

        &.success {
          @include color(map_get($theme-colors, success));
        }

        &.danger {
          @include color(map_get($theme-colors, danger));
        }

        &.warning {
          @include color(map_get($theme-colors, warning));
        }

        &.info {
          @include color(map_get($theme-colors, info));
        }
      }

      &:checked + .text {
        &::before {
          @include transform(rotate(40deg));
          top: -3px;
          left: 5px;
          border-top-color: transparent;
          border-left-color: transparent;
          border-radius: 0;
          width: .6em;
        }
      }
    }
  }

  .selectLabel {
    position: relative;
    z-index: 0;

    .text {
      position: relative;
      background-color: #fff;
      font-size: .9em;
      margin-left: .6em;
      padding: 0 .5em;
      z-index: 1;
      letter-spacing: .06em;
      color: #666;
    }

    .select {
      margin-top: -.8em;
      z-index: 0;
      position: relative;
      padding: .8em .5em .5em;
      box-sizing: border-box;
      width: 100%;
      outline: none;
      font-weight: 600;
      color: #333;
      border: 1px solid #ddd;
      border-bottom: none;
      border-radius: 3px 3px 0 0;
    }

    .icon {
      position: absolute;
      top: 1.6em;
      right: .5em;
      cursor: pointer;

      @include transition-transform(.5s, rotate(0))
    }

    .options {
      z-index: 99;
      background-color: #fff;
      position: absolute;
      list-style: none;
      margin-block-start: 0;
      margin-block-end: 0;
      padding-inline-start: 0;
      width: 100%;
      max-height: 0;
      overflow: hidden;
      transition: max-height .5s;
      border: 1px solid #ddd;
      border-top: none;

      .option {
        position: relative;
        cursor: pointer;

        &:first-child {
          border-top: 1px solid #ddd;
        }

        &.selected {
          background-color: #eee;
        }

        span {
          display: block;
          padding: .5em;
          width: 100%;

          *:nth-child(1) {
            position: absolute;
            right: .5em;
          }
        }
      }
    }

    &.active {
      .icon {
        @include transform(rotate(180deg));
      }

      .options {
        max-height: 500px;
        z-index: 100;

        .option {
          span:hover {
            background-color: #ddd;
          }
        }
      }
    }
  }

  .textAreaLabel {
    width: 100%;
    display: block;
    margin: 20px 0;

    .text {
      position: absolute;
      left: .6em;
      background-color: #fff;
      font-size: .9em;
      padding: 0 .5em;
      letter-spacing: .05em;
      color: #666;

      @include transition(.3s);
    }

    .textArea {
      position: relative;
      margin-top: .55em;
      outline: none;
      border: 1px solid #ddd;
      border-radius: 3px;
      width: 100%;
      line-height: 1em;
      padding: .6em .5em .5em .5em;
      @include transition(border-color $defaultTransitionTime);
    }

    &.active {
      .text {
        color: #a5a2a5;
        font-size: 11px;
      }

      .textArea {
        border-color: #ddd;

        &:focus {
          border-color: #007480;
        }
      }
    }

    @mixin color($color) {
      .text {
        color: $color;
      }

      .textArea {
        border-color: $color;
      }
    }

    @include color(map_get($theme-colors, dark));

    &.primary {
      @include color(map_get($theme-colors, primary));
    }

    &.secondary {
      @include color(map_get($theme-colors, secondary));
    }

    &.success {
      @include color(map_get($theme-colors, success));
    }

    &.danger {
      @include color(map_get($theme-colors, danger));
    }

    &.warning {
      @include color(map_get($theme-colors, warning));
    }

    &.info {
      @include color(map_get($theme-colors, info));
    }
  }

  .additionalLabel {
    display: block;
    margin-bottom: .5em;
    font-size: .85em;

    span {
      margin-left: 15px;
    }
  }

  &.small {
    margin-bottom: 6px;
    font-size: 1em;

    .withIcon .icon {
      top: 2px;
    }
  }
}

.dayPickerLabel {
}

.userSelect {
  width: 30em;
}

[class^="css-"][class$="-control"] {
  border: none;
  border-bottom: 1px solid #deddde;
  border-radius: 0;
}

form div[class^="css-"][class$="-container"] {
  margin-bottom: 30px;
}

svg[class^="css-"] {
  color: #009BA3;
}

[class$="-multiValue"] {
  font-size: 120%;
}

.favoritesList {
  list-style: none;
  margin: 10px 0;
  padding: 0;
  font-size: 1.3rem;

  > li {
    padding: 10px;
  }

  svg {
    margin: 0 5px;
    color: #009BA3;

    &.saveIcon {
      position: absolute;
      right: 10px;
      top: 16px;
    }

    &:hover {
      color: #00737b;
    }
  }

  .addFavorite {
    padding: 0;
    position: relative;
  }

  .favorite {
    position: relative;
    cursor: pointer;

    .favoriteName {
      margin-right: 75px;
    }

    .hidden {
      visibility: hidden;
      position: absolute;
      top: 0;
      left: 0;
      width: 1px;
      height: 1px;
      overflow: hidden;
      opacity: 0;
    }

    &.selected {
      color: #009BA3;
    }

    &:hover {
      background-color: #eee;

      .actions svg {
        visibility: visible;
      }
    }

    .actions {
      display: inline-block;
      float: right;

      svg {
        visibility: hidden;

        &.deleteIcon {
          color: #666;
        }

        &.syncIcon {
          visibility: visible;
        }
      }
    }
  }
}
