@import '../fonts/roboto/index.css';

html {
  font-size: 62.5%;
  -webkit-tap-highlight-color: transparent;
  font-family: sans-serif;
}

body {
  background: #eee url(../images/fabric_plaid.png) repeat;
  font-size: 12px;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1.428571429;
  color: #333;
  margin: 0;
  font-family: Roboto, sans-serif;
}

a {
  color: #428bca;
  text-decoration: none;
  background: transparent;
}

// Custom Styles
// -------------


// NavBar

ul {
  li.nav-item a.btn {
      margin-left: 10px !important;
      font-size: 16px;
      font-weight: 500;
      line-height: 1;
      padding: 1px 5px;
      border-radius: 3px;
      position: relative;
      top: -2px;
  }
}

// Push footer to bottom

html {
  height: 100%;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  position: relative;
  margin: 0;
  min-height: 100%;
}

.container-fluid {
  margin: 0 auto;
  padding-bottom: 20px;
}

.footer {
  position: absolute;
  margin-top: -20px;
}


.form-group {
  margin-bottom: 2.3rem;
}

// Forms

fieldset {
  border: 1px solid #dedede;
  padding: 25px;

  legend {
    font-weight: bold;
    margin-top: 0.5rem;
    margin-bottom: 2.3rem;
    width: auto;
    padding: 0 10px;
  }
}
