@import '../fonts/roboto/index.css';
@import '~bootstrap/scss/bootstrap';
@import './theming';
@import '@fortawesome/fontawesome-free/scss/solid';

:root {
  --ag-icon-font-family: "agGridAlpine";
}

.ag-row-red {
  color: red !important;
}

.ag-row-blue {
  color: blue !important;
}

.ag-row-green {
  color: green !important;
}

.ag-row-deleted {
  color: red !important;
  text-decoration: line-through !important;
  font-style: italic !important;
}

.ag-row-highlighted {
  background-color: #f4d5cb !important;
}

.ag-tooltip {
  background-color: black !important;
  color: white !important;
  white-space: pre-wrap !important;
}

// AG Grid pagination at top
.ag-grid-wrapper-pagination-top {
  .ag-root-wrapper {
    display: flex;
    flex-direction: column;

    .ag-paging-panel {
      order: -1;
    }
  }
}

// AG Grid popup menus (column context menus, filter menus, etc.) should appear above modals
.ag-popup,
.ag-menu,
.ag-column-select-panel {
  z-index: 1050 !important; // Higher than modal (1010) and dropdown (1020)
}

// AG Grid overlay (loading overlay, etc.)
.ag-overlay {
  z-index: 1040 !important; // Just below AG menus but above modals
}

div.dropZone {
  :-moz-drag-over {
    border-radius: 5px;
    border: 2px dashed rgb(0, 135, 247);
    border-image: none;
    margin-left: auto;
    margin-right: auto;
  }

  span.info {
    padding: 15px 30px;
    text-align: center;
    font-size: 16px;
    color: #656565;
    display: table-cell;
    vertical-align: middle;
    margin-top: 20px;
    cursor: pointer;

    .icon {
      margin-right: 10px;
    }
  }
}

div.job-progress {
  display: flex;
  margin: 0 auto;
  gap: 5px;
  div.progress {
    height: 2em;
    flex-basis: 100%;
    font-size: 1em;
  }
}

.icon::before {
  display: inline-block;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
}

.icon-solid::before {
  font: var(--fa-font-solid);
}

// FontAwesome v7 doesn't export $fa-var-* variables in SCSS
// Use CSS classes or SVG icons instead
// .icon-paperclip::before {
//   content: fa-content($fa-var-paperclip);
// }

html {
  font-size: 62.5%;
  -webkit-tap-highlight-color: transparent;
  font-family: sans-serif;
  scroll-behavior: smooth;
}

body {
  background: #F8F9FA;
  font-size: 12px;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1.428571429;
  color: #333;
  margin: 0;
  font-family: Roboto, sans-serif;
}

a {
  color: #428bca;
  text-decoration: none;
  background: transparent;
}

// Custom Styles
// -------------
nav.bg-light {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.50);

  ul li a {
    color: #4D4D4D;
    font-size: 14px;
  }
}

.container-fluid nav.navbar.navbar-light {
  background: #007480 !important;
  box-shadow: none;
  height: 45px;
  padding-left: 20px;

  ul li {
    color: #fff !important;
    font-weight: 600;
    font-size: 16px;
  }

  .dropdown {
    margin-left: 10px;
  }

  .dropdown.nav-item {
    background: #fff;
    border-radius: 3px;
    height: 25px;

    &:first-child {
      padding-left: 8px;
    }

    .nav-link {
      padding: 3px 6px 0 0;
      font-size: 13px;
    }
  }
}

.tab-content {
  margin-bottom: 20px;
  border: none !important;
}

// NavBar

ul {
  li.nav-item a.btn {
    margin-left: 10px !important;
    font-size: 16px;
    font-weight: 500;
    line-height: 1;
    padding: 5px 9px;
    border-radius: 3px;
    position: relative;
    top: 0;
    border: none;
  }
}

// Push footer to bottom

html {
  height: 100%;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  position: relative;
  margin: 0;
  min-height: 100%;
}

.container-fluid {
  margin: 0 auto;
  padding-bottom: 20px;
}

// Forms

fieldset {
  //border: 1px solid #dedede;
  //box-shadow: 0 0 3px 2px rgba(0,0,0,0.15);
  box-shadow: 0 1px 1px 0 rgba(60, 64, 67, .08),
  0 1px 3px 1px rgba(60, 64, 67, .16);
  padding: 25px;
  margin-bottom: 20px;
  border-radius: 3px;

  legend {
    font-weight: bold;
    margin-top: 0.5rem;
    margin-bottom: 0;
    width: auto;
    padding: 0 10px;
    background: #fff;
  }
}

// Buttons

.btn {
  font-size: 15px;
  padding: 0 15px;
  border-radius: 3px;

  &.btn-primary {
    max-height: 33px;
  }
}

.btn-group {
  margin-top: 1em;
}

// NavTabs

.nav-tabs {
  border: none;
}

// SVG

svg.fa-chevron-down {
  color: #009BA3;
}

// Fullcalendar

// All-day-events in time-grid-view
.fc-timegrid {
  .fc-daygrid-body {
    max-height: 100px;
    overflow-y: auto;
  }
}

.fc-holiday-weekend {
  color: red;
  background: #f5e0df !important;
  opacity: var(--fc-bg-event-opacity, 0.6) !important;
}

.fc-button-active {
  background-color: #bbb !important;
}

a.timesheet-break, a.vacation-event {
  cursor: pointer;
}

// 60 minutes
.grid-size-60 .fc-timegrid-slots {
  tr:nth-of-type(odd) {
    background: #00000007;
  }
}

// 30 minutes
.grid-size-30 .fc-timegrid-slots {
  tr:nth-of-type(4n+1), tr:nth-of-type(4n+2) {
    background: #00000007;
  }
}

// 15 minutes
.grid-size-15 .fc-timegrid-slots {
  tr:nth-of-type(8n+1), tr:nth-of-type(8n+2), tr:nth-of-type(8n+3), tr:nth-of-type(8n+4) {
    background: #00000007;
  }
}

// 10 minutes
.grid-size-10 .fc-timegrid-slots {
  tr:nth-of-type(12n+1), tr:nth-of-type(12n+2), tr:nth-of-type(12n+3), tr:nth-of-type(12n+4), tr:nth-of-type(12n+5), tr:nth-of-type(12n+6) {
    background: #00000007;
  }
}

// 5 minutes
.grid-size-5 .fc-timegrid-slots {
  tr:nth-of-type(24n+1), tr:nth-of-type(24n+2), tr:nth-of-type(24n+3), tr:nth-of-type(24n+4), tr:nth-of-type(24n+5), tr:nth-of-type(24n+6), tr:nth-of-type(24n+7), tr:nth-of-type(24n+8), tr:nth-of-type(24n+9), tr:nth-of-type(24n+10), tr:nth-of-type(24n+11), tr:nth-of-type(24n+12) {
    background: #00000007;
  }
}

.fc-timegrid-event .fc-event-main {
  padding: 1px 4px 0 !important;
  backdrop-filter: blur(1px) !important;
}

.fc-daygrid-block-event .fc-event-time, .fc-daygrid-block-event .fc-event-title {
  padding: 1px 0 1px 1px !important;
  backdrop-filter: blur(1px) !important;
}

.fc-timegrid {
  .fc-event-title {
    font-weight: bold !important;
  }
}

.fc-toolbar.fc-header-toolbar {
  margin-bottom: 0.2em !important;

  .btn-primary {
    color: #777 !important;
    background-color: transparent !important;
    border-color: #aaa !important;
    white-space: nowrap;
  }

  .btn-primary.active {
    background-color: #ccc !important;
  }

  .btn-group {
    margin-top: 0px !important;
  }
}

.fc-toolbar-title {
  font-size: 1.2em !important;
}

.calendar-filter {
  margin-bottom: 0.2em;
  overflow: visible;

  // Support current grid layout: sm="9" md="10" xl="10" for select
  .col-sm-9, .col-md-10, .col-xl-10 {
    padding-right: 10px;
  }

  // Support current grid layout: sm="3" md="2" xl="2" for icons
  .col-sm-3, .col-md-2, .col-xl-2 {
    padding-left: 0px;
    overflow: visible;
  }

  // Legacy support (for backwards compatibility)
  .col-sm-10, .col-xl-11 {
    padding-right: 10px;
  }

  .col-sm-2, .col-xl-1 {
    padding-left: 0px;
  }
}

// Task tree

div.tree-nav {
  white-space: nowrap;
}

div.tree-link-close {
}

div.tree-link-open {
}

div.tree-leaf {
}

div.tree-icon {
  float: left;
  width: 1.5em;
}

// FontAwesome buttons in TaskSelect etc.
.selectPanelIconLinks {
  padding: 0 5px 0 5px;
  z-index: 10;
}

// Nav Dropdown

.dropdown .nav-link svg {
  margin-left: 8px;
}

.dropdown-menu .dropdown-item {
  padding: 0;

  a.nav-link {
    margin-left: 0;
  }
}

//
.onclick {
  cursor: pointer;
}

// Time picker

div.rc-time-picker-panel-select {
  max-height: 400px !important;
}

input.rc-time-picker-input {
  width: 6em !important;
}

// DayPicker

div.DayPickerInput input {
  width: 8em;
}

.DayPickerInput {
  margin-left: 15px;

  input {
    padding: 3px 3px 3px 10px;
    font-size: 14px;
  }
}

nav[class^="Navigation_globalNavigation__"] .ml-auto.nav .nav-item {
  background: transparent !important;
}

.popover {
  max-width: 400px;
}

.popover-header {
  font-size: 14px;
}

.popover-body {
  font-size: 12px;
}

.col > span[class^="Input_text__"] {
  margin-left: 15px;
  color: #a5a2a5;
  font-size: 11px;
}

.row .ui-label {
  font-size: 1.1em;
  margin-top: 1.7ex;
  margin-right: 1em;
}

fieldset label[for*="favorite"] {
  margin-top: 27px;
}

#favoritesPopover {
  //margin-top: 5px;
}

img + .btn.btn-danger {
  margin-bottom: 20px;
}

div[class^="DayPicker"] {
  font-size: 13px;
}

button.dropdown-item a.nav-link {
  padding: 0 10px !important;
}

.dropdown-menu.show {
  margin-top: 1px;
  margin-left: -5px;
}

// Table

.table th {
  border-top: none;
}

// Day Picker
.range .DayPicker-Day--selected:not(.DayPicker-Day--start):not(.DayPicker-Day--end):not(.DayPicker-Day--outside) {
  background-color: #dfe9ff !important;
  color: #4a90e2;
}

.range .DayPicker-Day:not(.DayPicker-Day--end) {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.range .DayPicker-Day:not(.DayPicker-Day--start) {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

// Style for current day (today) - react-day-picker v9
.rdp-today {
  color: red !important;
  font-weight: bold;
}

// Card
.card {
  margin-bottom: 15px;
}

// Add/Edit Button in List Page Navigation
#CREATE, #EDIT {
  $color: #009BA3;

  border: 1px solid $color;
  color: $color !important;
  line-height: 17px;

  &:hover {
    background-color: $color;
    color: #fff !important;
  }
}

// Highlight Button in List Page Navigation (e. g. personal box of data transfer).
#HIGHLIGHT {
  $color: #eb8f34;

  border: 1px solid $color;
  color: $color !important;
  line-height: 17px;

  &:hover {
    background-color: $color;
    color: #fff !important;
  }
}

span.mm-select {
  margin-left: 18px;
  font-size: 11px;
  color: #a5a2a5;
}


// React Select
.react-select {
  margin-top: 15px;

  .react-select__container {
    $transitionTime: .2s ease-out;

    .react-select__label {
      font-size: 1.5em;
      transition: transform $transitionTime, color $transitionTime;
      position: absolute;
      bottom: .5em;
      left: 1rem;
      transform-origin: 0 0;
      transform: translateY(0);
      color: #7a7a7a;

      &.isActive {
        color: #666;
        transform: translateY(-.8em) scale(0.75);
      }
    }

    .react-select__control {
      background-color: #f9f9f9;
      border: none;
      border-bottom: 2px solid #bbb;
      border-radius: 5px 5px 0 0;
      padding-top: 1em;
      margin: 0;

      &.react-select__control--is-focused {
        background-color: #f5f5f5;
        border-color: #333;
        box-shadow: none;
      }

      .react-select__value-container {
        padding-bottom: 1px;
      }

      .react-select__single-value {
        font-size: 15px;
        top: 1.3em;
      }

      .react-select__indicator {
        color: #009BA3;
        cursor: default;
        padding: 0 8px;
      }

      .react-select__multi-value {
        background-color: #333;
        margin: 4px 2px 0 2px;

        .react-select__multi-value__label {
          color: #fff;
          font-size: 1em;
          padding: 0 0 0 6px;
        }

        .react-select__multi-value__remove {
          color: #fff;
          border-radius: 0 2px 2px 0;

          &:hover {
            background-color: map-get($theme-colors, danger);
          }
        }
      }
    }

    &.hasValue {
      .react-select__label {
        color: #666;
        transform: translateY(-.55em) scale(0.75);
      }

      .react-select__control {
        background-color: #f5f5f5;
        border-color: #333;
        box-shadow: none;
      }
    }

    &:hover {
      .react-select__control {
        background-color: #eaeaea;
      }
    }

    @mixin color($color) {
      .react-select__control {
        border-color: $color;
      }

      .react-select__label {
        color: $color;
      }
    }

    &.primary {
      @include color(map-get($theme-colors, primary));
    }

    &.secondary {
      @include color(map-get($theme-colors, secondary));
    }

    &.success {
      @include color(map-get($theme-colors, success));
    }

    &.danger {
      @include color(map-get($theme-colors, danger));
    }

    &.warning {
      @include color(map-get($theme-colors, warning));
    }

    &.info {
      @include color(map-get($theme-colors, info));
    }
  }

  .react-select__additional-label {
    margin-left: 1rem;
    position: relative;
    min-height: 1.25em;
    display: block;
    font-size: 1.125em;
    color: #aaa;
    font-style: italic;
  }
}

// Multi Value Select

div[class$="-multiValue"] {
  div[role=button] {
    font-size: 14px;
  }
}


// Toast

.toast {
  font-size: 1.25rem;

  .toast-header strong {
    padding-right: 1em;
  }
}

// Needed for scripting editor (for correct placing of cursor).
.ace_editor * {
  font: 12px/normal 'Monaco', 'Menlo', 'Ubuntu Mono', 'Consolas', 'source-code-pro', monospace !important;
}

// Poll section headlines
.poll-section-headline {
  font-size: 20px;
  font-weight: bold;
}

