@import '../fonts/roboto/index.css';
@import './theming.scss';
@import '~bootstrap/scss/bootstrap';

html {
  font-size: 62.5%;
  -webkit-tap-highlight-color: transparent;
  font-family: sans-serif;
  scroll-behavior: smooth;
}

body {
  background: #F8F9FA;
  font-size: 12px;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1.428571429;
  color: #333;
  margin: 0;
  font-family: Roboto, sans-serif;
}

a {
  color: #428bca;
  text-decoration: none;
  background: transparent;
}

// Custom Styles
// -------------
nav.bg-light {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.50);

  ul li a {
    color: #4D4D4D;
    font-size: 14px;
  }
}

.container-fluid nav.navbar.navbar-light {
  background: #007480 !important;
  box-shadow: none;
  height: 45px;
  padding-left: 20px;

  ul li {
    color: #fff !important;
    font-weight: 600;
    font-size: 16px;
  }

  .dropdown {
    margin-left: 10px;
  }

  .dropdown.nav-item {
    background: #fff;
    border-radius: 3px;
    height: 25px;

    &:first-child {
      padding-left: 8px;
    }

    .nav-link {
      padding: 3px 6px 0 0;
      font-size: 13px;
    }
  }
}

.ml-auto.nav {

  .nav-item {
    background: #FFF;
    margin-left: 10px;
    height: 25px;
    border-radius: 3px;

    span,
    a {
      font-size: 13px;
      padding: 3px 9px;
      cursor: pointer;
      line-height: 20px;
      border-radius: 3px;
      margin: 0;
      color: #666 !important;

      &:hover {
        color: #000 !important;
      }
    }
  }
}

.tab-content {
  margin-bottom: 20px;
  border: none !important;
}

// NavBar

ul {
  li.nav-item a.btn {
    margin-left: 10px !important;
    font-size: 16px;
    font-weight: 500;
    line-height: 1;
    padding: 5px 9px;
    border-radius: 3px;
    position: relative;
    top: 0;
    border: none;
  }
}

// Push footer to bottom

html {
  height: 100%;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  position: relative;
  margin: 0;
  min-height: 100%;
}

.container-fluid {
  margin: 0 auto;
  padding-bottom: 20px;
}

.form-group {
  margin-bottom: 2.3rem;
}

// Forms

fieldset {
  //border: 1px solid #dedede;
  //box-shadow: 0 0 3px 2px rgba(0,0,0,0.15);
  box-shadow: 0 1px 1px 0 rgba(60, 64, 67, .08),
  0 1px 3px 1px rgba(60, 64, 67, .16);
  padding: 25px;
  margin-bottom: 20px;
  border-radius: 3px;

  legend {
    font-weight: bold;
    margin-top: 0.5rem;
    margin-bottom: 0;
    width: auto;
    padding: 0 10px;
    background: #fff;
  }
}

// Buttons

.btn {
  font-size: 15px;
  padding: 0 15px;
  border-radius: 3px;

  &.btn-primary {
    max-height: 33px;
  }
}

.btn-group {
  margin-top: 20px;
}

// NavTabs

.nav-tabs {
  border: none;
}

// SVG

svg.fa-chevron-down {
  color: #009BA3;
}

// Calendar

.rbc-time-view {
  border-radius: 5px;
  margin-bottom: 15px;
}

.rbc-allday-cell {
  max-height: 100px;
  overflow-y: auto;
}

.rbc-event {
  color: #222222;
  border-radius: 3px;
  border: 0;
  display: block;
}

.rbc-event.timesheet {
  color: #fff;
  background: #7994d7;
}

.rbc-event.timesheet-stats {
  color: #666;
  background: #F9F9F9;
}

.weekend {
  background: #f5e0df;
}

.weekend-holiday {
  background: #f5e0df;
}

.holiday {
  background: #f5e0df;
}


// Task tree

div.tree-nav {
  white-space: nowrap;
}

div.tree-link-close {
}

div.tree-link-open {
}

div.tree-leaf {
}

div.tree-icon {
  float: left;
  width: 1.5em;
}

// FontAwesome buttons in TaskSelect etc.
.selectPanelIconLinks {
  padding: 0 5px 0 5px;
  z-index: 10;
}

// Nav Dropdown

.dropdown .nav-link svg {
  margin-left: 8px;
}

.dropdown-menu .dropdown-item {
  padding: 0;

  a.nav-link {
    margin-left: 0;
  }
}

//
.onclick {
  cursor: pointer;
}

// Time picker

div.rc-time-picker-panel-select {
  max-height: 400px !important;
}

input.rc-time-picker-input {
  width: 6em !important;
}

// DayPicker

div.DayPickerInput input {
  width: 8em;
}


.rbc-addons-dnd.rbc-calendar {
  margin-top: 40px !important;

  .rbc-btn-group {
    background: #FFF;
  }
}

.DayPickerInput {
  margin-left: 15px;

  input {
    padding: 3px 3px 3px 10px;
    font-size: 14px;
  }
}

nav[class^="Navigation_globalNavigation__"] .ml-auto.nav .nav-item {
  background: transparent !important;
}

.popover {
  max-width: 400px;
}

.popover-header {
 font-size: 14px;
}

.popover-body {
  font-size: 12px;
}

.col > span[class^="Input_text__"] {
  margin-left: 15px;
  color: #a5a2a5;
  font-size: 11px;
}

div[class*="-singleValue"] {
  margin-left: 8px;
  font-size: 15px;
}

fieldset label[for*="favorite"] {
  margin-top: 27px;
}

#favoritesPopover {
  //margin-top: 5px;
}

img + .btn.btn-danger {
  margin-bottom: 20px;
}

div[class^="DayPicker"] {
  font-size: 13px;
}

button.dropdown-item a.nav-link {
  padding: 0 10px !important;
}

.dropdown-menu.show {
  margin-top: 1px;
  margin-left: -5px;
}

span.mm-select {
  margin-left: 18px;
  font-size: 11px;
  color: #a5a2a5;
}

// Table

.table th {
  border-top: none;
}

// Day Picker
.range .DayPicker-Day--selected:not(.DayPicker-Day--start):not(.DayPicker-Day--end):not(.DayPicker-Day--outside) {
  background-color: #dfe9ff !important;
  color: #4a90e2;
}

.range .DayPicker-Day:not(.DayPicker-Day--end) {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.range .DayPicker-Day:not(.DayPicker-Day--start) {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

// Card
.card {
  margin-bottom: 15px;
}
