// Import Bootstrap variables and functions that we need
@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';

$theme-colors: map-merge(
                (
                        "success": #32912E,
                ),
                $theme-colors
);
