<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
    <property name="LOG_HOME" value="${LOG_PATH:-${LOG_TEMP:-${java.io.tmpdir:-/tmp}}/}"/>
    <include resource="org/springframework/boot/logging/logback/console-appender.xml"/>

    <appender name="ROLLING-FILE-ALL"
              class="ch.qos.logback.core.rolling.RollingFileAppender">
        <encoder>
            <pattern>${FILE_LOG_PATTERN}</pattern>
        </encoder>
        <file>${LOG_HOME}/ProjectForge.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- daily rollover -->
            <fileNamePattern>${LOG_HOME}/ProjectForge.%d{yyyy-MM-dd}.log.gz</fileNamePattern>
        </rollingPolicy>
    </appender>

    <appender name="ROLLING-ACCESS-LOG"
              class="ch.qos.logback.core.rolling.RollingFileAppender">
        <encoder>
            <pattern>${FILE_LOG_PATTERN}</pattern>
        </encoder>
        <file>${LOG_HOME}/access.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- daily rollover -->
            <fileNamePattern>${LOG_HOME}/access.%d{yyyy-MM-dd}.log.gz</fileNamePattern>
        </rollingPolicy>
    </appender>

    <appender name="ROLLING-SECURITY-LOG"
              class="ch.qos.logback.core.rolling.RollingFileAppender">
        <encoder>
            <pattern>${FILE_LOG_PATTERN}</pattern>
        </encoder>
        <file>${LOG_HOME}/security.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- daily rollover -->
            <fileNamePattern>${LOG_HOME}/security.%d{yyyy-MM-dd}.log.gz</fileNamePattern>
        </rollingPolicy>
    </appender>

    <appender name="MEMORY" class="org.projectforge.common.logging.LoggerMemoryAppender"/>

    <logger name="de.micromata.projectforge.accessLog" level="INFO" additivity="false">
        <!-- additivity="false": do the access log only here, not in the root logger. -->
        <appender-ref ref="ROLLING-ACCESS-LOG"/>
    </logger>

    <logger name="de.micromata.projectforge.securityLog" level="INFO" additivity="false">
        <!-- additivity="false": do the security log only here, not in the root logger. -->
        <appender-ref ref="ROLLING-SECURITY-LOG"/>
    </logger>

    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="ROLLING-FILE-ALL"/>
        <appender-ref ref="MEMORY"/>
    </root>

    <!-- custom logging levels: -->
    <logger name="org.apache.wicket.Localizer" level="ERROR"/>

    <logger name="org.hibernate.engine.internal.StatisticalLoggingSessionEventListener" level="ERROR"/>
    <logger name="org.apache.poi.xssf.usermodel.XSSFWorkbook" level="ERROR"/>

    <!-- For debugging Persistence calls, add to your projectforge.properties file: -->
    <!--
         # Logs all persistance calls (without lazy loadings by hibernate, but gives you a good overview):
         logging.level.org.projectforge.framework.persistence.jpa.PfPersistenceContext=DEBUG

          # Extensive logging of Hibernate SQL statements:
          hibernate.show_sql=true
          Format the shown execute sql in formatted form
          hibernate.format_sql=true
          hibernate.hibernateHighlightSql=false
          hibernate.hibernateUseSqlComments=false
          # Log all Hibernate's SQL statements:
          logging.level.org.hibernate.SQL=DEBUG
          # Log SQL Bind Parameters:
          logging.level.org.hibernate.orm.jdbc.bind=TRACE
          # Optional: Log DDL operations:
          logging.level.org.hibernate.orm.tool.schema.internal=DEBUG
          # Flyway logging
          logging.level.org.flywaydb=DEBUG
    -->
</configuration>
