* {
    font-family: Roboto, sans-serif;
}

@font-face {
    font-family: 'Roboto';
    src: url('./Roboto-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('Roboto-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}
