div.loginPanel {
  width: 95%;
  max-width: 498px;
  margin: 2em auto 0;
}

.cardTitle {
  margin: 25px 0;
  font-size: 14px;
  font-weight: 600;
  color: #555;
}

.alert {
  padding: 15px;
}

.formGroup {
  padding-bottom: 14px;
}
