@import '../../../assets/style/mixins';

.footer {
  position: absolute;
  margin-top: -20px;
  height: 2em;
  min-height: 2em;
  border-top: 1px solid rgba(0,0,0,.1);
  bottom: 0;
  color: #aaaaaa;
  width: 100%;
  z-index: 10;
  background-color: #fff;
  padding: 3px 15px;

  a {
    color: #7c8495;
    font-size: 12px;
    padding: 5px;

    &:hover {
      color: #000;
    }
  }

  ul.list {
    display: inline-block;
    list-style: none;
    padding-left: 5px;
    margin: 0;

    &.copyHint {
      float: left;
    }

    &.version {
      float: right;
    }

    li {
      display: inline-block;

      &::after {
        padding: 0 3px;
        content: '|';
      }

      &:last-child::after {
        content: '';
      }
    }
  }
}
