@import '../../../assets/style/mixins';

.footer {
  //height: 1.3em;
  //text-shadow: 0 1px 0 #000;
  //@include linear-gradient-background(to bottom, #4c5766, #313841);
  border-top: 1px solid rgba(0,0,0,.1);
  position: fixed;
  bottom: 0;
  color: #aaaaaa;
  width: 100%;
  z-index: 10;
  background-color: #fff;
  padding: 10px 20px;

  a {
    color: #7c8495;
    font-size: 0.8em;

    &:hover {
      color: #000;
    }
  }

  ul.list {
    display: inline-block;
    list-style: none;
    padding-left: 5px;
    margin: 0;

    &.copyHint {
      float: left;
    }

    &.version {
      float: right;
    }

    li {
      display: inline-block;

      &::after {
        padding: 0 3px;
        content: '|';
      }

      &:last-child::after {
        content: '';
      }
    }
  }
}
