.searchContainer {
  margin: 1em 0 0 1em;
  height: 2.9em;

  .search {
    width: 100%;
    margin: 0;
    padding: .5em;

    // Use :global(...) to force css-modules to not convert #searchFilter.
    :global(#searchFilter) {
      border: none;
      top: -2px;
      margin-left: 2px;
    }
  }

  .completions {
    top: .8em;

    .entries {
      margin: 0;
      padding: 0;

      .entry {
        position: relative;
        padding: 1em 1.5em;
        cursor: default;

        &:hover {
          background-color: #eee;
        }

        .icon {
          right: 1em;
          position: absolute;
        }
      }
    }
  }
}

.actions {
  border-top: 1px solid #eee;
  padding: .8em .9em;

  .deleteButton {
    margin: 0;
    display: inline-block;
    text-align: center;
    width: auto;
    font-weight: 600;
    padding: .8em;
    color: #333;
    outline: none;
    border: none;
    border-radius: 8px;
    text-decoration: underline;

    &:hover {
      color: #000;
      background-color: #f2f2f2;
    }

    &:disabled {
      color: #ccc;
      background-color: transparent;
      cursor: not-allowed;
    }
  }
}
