.searchContainer {
  margin: 1em 0 0 1em;
  height: 2.9em;

  .search {
    width: 100%;
    margin: 0;
    padding: .5em;

    // Use :global(...) to force css-modules to not convert #searchFilter.
    :global(#searchString) {
      border: none;
      top: -2px;
      margin-left: 2px;
    }
  }

  .completions {
    top: .8em;

    .errorMessage {
      margin: 0;
      padding: 1em;
      background-color: #fafafa;
      text-align: center;
    }

    .entries {
      margin: 0;
      padding: 0;

      .entry {
        position: relative;
        padding: 1em 1.5em;
        cursor: default;

        &:hover {
          background-color: #eee;
        }

        .icon {
          right: 1em;
          position: absolute;
        }
      }
    }
  }
}

.magicFilters {
  display: flex;
  margin: .8em 0 0 1em;

  .magicFilter {
    margin-right: .8em;

    &:last-child {
      flex: 1;
    }

    .pill {
      $transitionTime: .3s;

      padding: .2em .8em;
      outline: none;
      transition: $transitionTime border-color, $transitionTime background-color;
      cursor: default;
      border-radius: 15px;

      &:hover, &:focus {
        border-color: #666;
      }

      &.isOpen {
        border-color: #333;
        background-color: #f8f8f8;
      }
    }
  }

  .allFilters {
    .filterList {
      margin: 0;
      padding: 0;

      .filter {
        padding: 1em;
        cursor: default;

        &:hover {
          background-color: #eee;
        }
      }
    }
  }
}
