$transitionTime: .3s;

.searchContainer {
  float: right;
  width: 50%;

  .search {
    border: 1px solid transparent;

    .searchInput {
      padding: 15px;
    }

    .additional {
      padding: 15px 15px 0 15px;
    }
  }

  .searchIsOpen {
    border: 1px solid rgba(0, 0, 0, .125);
    border-top: 1px solid #fff;
  }
}

.tasks {
  .task {
    &.highlighted {
      background-color: #f4d5cb;

      &:hover {
        background-color: #e5c5bb;
      }
    }

    .taskIcon {
      display: inline-block;
      cursor: pointer;
      margin: 0 5px;
      min-width: 10px;
      color: #009BA3;
    }
  }
}
