@import "../../../assets/style/mixins";

.globalNavigation {
  font-size: 1.1em;
  padding: 10px 5px;
  margin-bottom: 15px;
}

.categoryContainer {
  padding: 10px 0;
}

.categoryTitle {
  position: relative;
  display: block;
  text-transform: uppercase;
  font-weight: 900;
  letter-spacing: .15em;
  color: #031b4e;
  font-size: 11px;

  span.badge {
    background-color: #031b4e;
  }
}

ul.categoryLinks {
  list-style: none;
  padding-inline-start: 0;
  padding-left: 8px;
  margin: 8px 0;
  font-size: 16px;

  li.categoryLink a {
    line-height: 30px;
    font-size: 14px;
    color: #5b6987;
    text-decoration: none;
    cursor: pointer;

    span.badge {
      background-color: #5b6987;
      font-size: 12px;
    }

    &:hover {
      color: #1a293b;

      span.badge {
        background-color: #1a293b;
      }
    }
  }
}

.categoryColumn {

  @media #{$mediumMediaQuery} {
    border-right: 1px solid #ddd;

    &:last-child {
      border-right: none;
    }
  }
}

.categoryListDropdownMenu {
  @media #{$mediumMediaQuery} {
    width: 730px;
  }

  @media #{$largeMediaQuery} {
    width: 980px;
  }
}

span.badge {
  margin-left: .8em;
  padding: .2em .5em;
  background-color: #000;
  border-radius: 1em;
  color: #fff;

  &.isFlying {
    @include transform(scale(0.75));
    position: absolute;
    top: -.75em;
    right: 0;
  }

  &.danger {
    background-color: #dc3545;
  }
}
