@import "../../../assets/style/mixins";

.title {
  color: #000;
  font-weight: bold;
}

.navigation {
  margin-bottom: 15px;

  ul {
    font-size: 18px;
  }
}

.navTab {
  padding: 1rem 20px 1rem 20px;
  @include linear-gradient-background(to bottom, #e6ecef, #d0d6da);
  background: #ededed;
  color: #676767;
  font-size: 14px;
  margin-right: 10px;
  border-top: 1px solid #a4a4a4;

  &:hover, &.active {
    border-top: 1px solid #007480;
    border-bottom: 1px solid #fff;
  }

  &.active {
    background: #fff;
    color: #009BA3;
    font-weight: 500;
    font-size: 14px;
  }
}

.select {
  width: auto;
  margin: 0 15px;
}

.inputLabel {
  width: 140px;
  font-weight: 600;
}

.clickable {
  cursor: pointer;
}

.highlighted {
  background-color: #f4d5cb;
}
