div.dropArea {
  overflow: hidden;
  border-radius: 5px;
  display: table;
  cursor: pointer;

  &.inDrag {

    div.background {
      background-color: #eee;
    }
  }

  div.background {
    background-color: #F1F1F1;
    box-shadow: 0 2px 0 #f9f8f8, inset 0 2px 2px #eaeaea;
    width: 100%;
    height: 100%;
    display: table;

    &:hover {
      background: #DEE2E6;
      box-shadow: 0 2px 0 #E6EAEE, inset 0 2px 2px #D7DBDF;
      cursor: grab;
    }

    input.file {
      border: 0;
      clip: rect(0, 0, 0, 0);
      height: 1px;
      margin: -1px;
      overflow: hidden;
      padding: 0;
      position: absolute;
      width: 1px;
    }

    span.info {
      padding: 15px 30px;
      text-align: center;
      font-size: 16px;
      color: #656565;
      display: table-cell;
      vertical-align: middle;
      margin-top: 20px;

      .icon {
        margin-right: 10px;
      }
    }
  }
}
