<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <include resource="org/springframework/boot/logging/logback/base.xml"/>

  <appender name="MEMORY" class="org.projectforge.common.logging.LoggerMemoryAppender" />

  <root level="error">
    <appender-ref ref="MEMORY"/>
  </root>

</configuration>
