
on:
  push:
    branches: [ develop ]
    paths-ignore:
      - 'site/**'
  pull_request:
    branches: [ develop ]
    paths-ignore:
      - 'site/**'

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3
      - uses: actions/checkout@v3

      - name: Set up JDK 17
        uses: actions/setup-java@v3
        with:
          java-version: '17'
          distribution: 'temurin'

      - name: Cache Gradle dependencies
        uses: actions/cache@v3
        with:
          path: ~/.gradle/caches
          key: ${{ runner.os }}-gradle-${{ hashFiles('**/*.gradle*', '**/gradle-wrapper.properties') }}
          restore-keys: |
            ${{ runner.os }}-gradle

      - name: Grant execute permission for Gradle wrapper
        run: chmod +x gradlew

      - name: Test and build with Gradle
        run: ./gradlew build --info --stacktrace
        env:
          SPRING_PROFILES_ACTIVE: test
        #  MY_CUSTOM_ENV_VAR: "value"

      #- name: Run tests
      #  run: ./gradlew test --info --stacktrace
