tr.borderTop td, tr.borderTop th {
  border-top: 1pt solid black;
}

tr.borderBottom td, tr.borderBottom th {
  border-bottom: 1pt solid black;
}

td.number {
  text-align: right;
}

th.number {
  text-align: right;
}

td.mumberBold {
  text-align: right;
  font-weight: bold;
}
